meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
title #{title} | Dev Mountain Pre Course

link(rel='canonical', href='http://devmounta.in')
meta(name='keywords', content='learn to code, learn to program, learn programming, learn javascript, learn coding, code, coding, programming, software engineer, software developer, mean stack, web development, development, engineering, learn node.js, learn angular.js, learn express.js, learn mongoDB, coding bootcamp, javascript, open source')

// todo we will need to update this to our p:domain_verify
//meta(name='p:domain_verify', content='d0bc047a482c03c24f1168004c2a216a')

meta(name="google-site-verification", content="8jShzw1rmppAMCVsQk3_eAew-l50ENdnW2Rjbtmguhg")


//Open Graph
meta(property="og:site_name", content="")
meta(property="og:url", content="http://devmounta.in/")
meta(property="og:title" content="Learn To Code at DevMountain's Programming Bootcamps.")
meta(property="og:description", content="Learn To Code at DevMountain's Programming Bootcamps.")
meta(property="og:image", content="http://devmounta.in/img/dev_opengraph.png")
meta(property="og:type", content="article")
meta(property="article:publisher", content="https://www.facebook.com/DevMountain")
meta(property="article:section", content="Responsive")
meta(property="og:locale" content="en_US")


//G+
link(rel="publisher", href="https://plus.google.com/+DevMountain")
link(rel="author", href="https://plus.google.com/+DevMountain")
meta(name="description" content="DevMountain turns beginners into web development professionals. Learn web or iOS development by attending our 12-week boot camps in Provo or Salt Lake City.")

// Twitter
meta(name='twitter:widgets:csp', content='on')
meta(name="twitter:creator", content="@DevMtn")
meta(name="twitter:url", content="http://devmounta.in/")
meta(name="twitter:site", content="@DevMtn")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:image:src", content="http://devmounta.in/img/dev_opengraph.png")
meta(name="twitter:title", content="Learn To Code at DevMountain's Programming Bootcamps.")
meta(name="twitter:description",content="Learn To Code at DevMountain's Programming Bootcamps.")

// todo we will need to update this to our p:domain_verify
//meta(content="a40ee5d5dba3bb091ad783ebd2b1383f", name="p:domain_verify")

// MS Application stuff
meta(name="msapplication-TileColor", content="#FFFFFF")
meta(name="msapplication-TileImage", content="/")



// Android Icons
link(rel="android-chrome", sizes="144x144" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-144x144.png")
link(rel="android-chrome", sizes="192x192" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-192x192.png")
link(rel="android-chrome", sizes="36x36" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-36x36.png")
link(rel="android-chrome", sizes="48x48" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-48x48.png")
link(rel="android-chrome", sizes="72x72" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-72x72.png")
link(rel="android-chrome", sizes="96x96" href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-96x96.png")
link(rel="android-chrome-manifest", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/android-chrome-manifest.json")

// Apple Icons
link(rel="apple-touch-icon", sizes="114x114", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon", sizes="180x180", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-180x180.png")
link(rel="apple-touch-icon", sizes="57x57", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon-precomposed", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon-precomposed.png")
link(rel="apple-touch-icon", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/apple-touch-icon.png")

// Favicon
link(rel="favicon", sizes="16x16", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/favicon-16x16.png")
link(rel="favicon", sizes="32x32", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/favicon-32x32.png")
link(rel="favicon", sizes="96x96", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/favicon-96x96.png")
link(rel="favicon", href="//devmountain.s3.amazonaws.com/www/favicon.ico")
link(rel='shortcut icon', href='//devmountain.s3.amazonaws.com/www/favicon.ico')

// MS Icons
link(rel="mstile", sizes="150x150", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/mstile-150x150.png")
link(rel="mstile", sizes="310x310", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/mstile-310x310.png")
link(rel="mstile", sizes="310x150", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/mstile-310x150.png")
link(rel="mstile", sizes="70x70", href="https://devmountain-precoursecamp.s3.amazonaws.com/favicon/mstile-70x70.png")



