nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='http://devmtnclass.s3.amazonaws.com/images/devmountain_logo_blacktext.png', alt='learn to code javascript at Dev Mountain Logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown

            li.hidden-xs.main-map-link
                a#nav-map-btn(href='/map' onclick='if (!(event.ctrlKey || event.metaKey)) {return false;}')  Map
            li.visible-xs
                a(href='/map')  Map

            if !user
                li
                    a(href='/auth/devmtn') Sign in
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.points}&thinsp;]
                li.hidden-xs.hidden-sm.avatar
                  a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
