@font-face {
    font-family: icomoon;
    src: url("/icon/icomoon.eot");
    src: url("/icon/icomoon-.eot#iefix") format("embedded-opentype"), url("/icon/icomoon.ttf") format("truetype"), url("/icon/icomoon.woff") format("woff"), url("/icon/icomoon.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.dm-icon-black {
    width:100px;
    display:block;
    height:30px;
    /*background:black;*/
    color:white;
    text-decoration:none;

}

.dm-icon-black:before {
    content: '';
    background:url('http://devmountain-precoursecamp.s3.amazonaws.com/DevCircle-156x158.svg');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
    margin-left:-20px;
}

.icon-close:before {
    content: "\e900"
}

.icon-behance:before {
    content: "\e901"
}

.icon-codepen:before {
    content: "\e902"
}

.icon-down:before {
    content: "\e903"
}

.icon-dribbble:before {
    content: "\e904"
}

.icon-facebook:before {
    content: "\e905"
}

.icon-git:before {
    content: "\e906"
}

.icon-instagram:before {
    content: "\e907"
}

.icon-left:after {
    content: "\e908"
}

.icon-linkedin:before {
    content: "\e909"
}

.icon-medium:before {
    content: "\e90a"
}

.icon-plus:before {
    content: "\e90b"
}

.icon-right:after {
    content: "\e90c"
}

.icon-thumbsup:before {
    content: "\e90d"
}

.icon-twitter:before {
    content: "\e90e"
}

.icon-up:before {
    content: "\e90f"
}

.icon-vimeo:before {
    content: "\e910"
}

.icon-play:before {
    content: "\25BA"
}
