extends layout
block home
    section.home-container
        nav.prinav
            a(href="section1.html").nav-item.none Section 1
            a(href="section2.html").nav-item.none.animsition-link Section 2
        div.background.big(data-background-shown='false')
        div.background.small(data-background-shown='false')
        div.line-bg.off-s-3
        .text-left
            h1.landing-heading Dev <br> Mountain <br> <em> Pre Course </em>


     script.
         challengeName = 'Home'
