extends layout
block home
    section.home-container
        //nav.prinav
        //    a(href='/signin').nav-item.none
        //        button.view-challenges Login
        //    a(href="/signin").nav-item.none.animsition-link.signup-btn
        //        button.view-challenges Sign UP
        div.background.big(data-background-shown='false')
        div.background.small(data-background-shown='false')
        //div.line-bg.off-s-3
        .text-left
            h1.landing-heading  Dev <br> Mountain <br> <em> Pre Course </em>
            p.landing-intro Everything you need to know to start  <br> <em> DevMountain </em>
            button(data-view-precourse="true", data-ga="start-precourse-home-page").check-ga.view-challenges start pre-course
                i.icon-right
        .spacer
        .text-left
            p.landing-intro Just want to browse? Check out our challenges
            button(data-ga="view-challenges-home-page", data-view-challenges="true").view-challenges.check-ga View Challenges
                i.icon-right


     script.
         challengeName = 'Home'
