doctype html
html(lang='en')
  head
    include partials/meta
    include partials/stylesheets
  body
    include partials/scripts
    //include partials/navbar
    include partials/flash
    block home
    .container
      block content

    include partials/footer
