extends ../layout
block content
        h1.text-center Settings for your Account
        hr
        h2.text-center Actions
        .row
          .col-xs-12
            a#night-mode.btn.btn-lg.btn-block.btn-primary.btn-link-social Night Mode
        .row
        .spacer
        h2.text-center Privacy Settings
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            .row
              .col-xs-9
                p.large-p Make all of my solutions private
                  br
                  | (this disables your certificates)
              if (user.isLocked)
                .col-xs-3
                  a.btn.btn-lg.btn-primary.btn-block.active.positive-20(href='/toggle-lockdown-mode') On
              else
                .col-xs-3
                  a.btn.btn-lg.btn-primary.btn-block.positive-20(href='/toggle-lockdown-mode') Off

        .spacer
